{
    "extends": "semistandard",
    "env": {
        "browser": true
    },
    "globals": {
        "$": true,
        "SA": true,
        "SAM": true
    },
    "rules": {
        "no-unused-vars": 0,
        "no-undef": 0,
        "no-redeclare": 0,
        "new-cap": 0,
        "no-unmodified-loop-condition": 0
    }
}
